<h1>新規投稿</h1>

<%= form_with model: @post, local: true do |f| %>
    <%= f.label :"タイトル" %>
    <%= f.text_field :title %>
    
    <%= f.label :"本文" %>
    <%= f.text_area :content %>
    
    <%= f.label :"画像" %>
    <%= f.attachment_field :post_images_post_images, multiple: true %>
    
    <%= f.label :"タグ" %>
    <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>
    
    <%= f.submit "投稿" %>
<% end %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal3Label">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: items_search_path, method: "get" do |f| %>
          <%= f.text_field :keyword %>
          <%= f.submit "検索" %>
        <% end %>
        <div id="search_result">
          <% render "/items/search_result" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% if @item.present? %>
  <% @item.each do %>
    <p>OK</p>
  <% end %>
<% end %>